%h1<>
  = "#{AppConfig.get(:service_name)}"
%p エンジニアが直接案件をみて連絡が取れるサービス！
%div{"data-no-turbolink" => ""}
  %p 主要URLは以下になります。
  %ul
    %li
      = link_to "システム管理画面", admin_path
      （ユーザー：admin パスワード：testtest）
