%h1<>
  = "#{AppConfig.get(:service_name)}"
%p エンジニアが案件を選んで仕事を探せるサービスを目指します！
%div{"data-no-turbolink" => ""}
  %p 主要URLは以下になります。
  %ul
    %li
      = link_to "システム管理画面", admin_path
      （ユーザー：admin パスワード：testtest）
